* {
	box-sizing: border-box;
}
li, 
a {
	text-decoration: none;
}

a:visited {
	color: white;
}

body {
	background-color: rgb(0,51,102);
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	line-height: 1.2;
	text-align: center;
}
h1 {
	font-size: 1.3em;
}
.intro-text,
.portfolio-text,
.contact-text {
	font-family: 'Cormorant Garamond', serif;
}
.left {
	float: left;
}	
.right {
	float: right;
}

/**********HEADER**********************/
header {
	font-family: 'Oswald', sans-serif;
	color: white;
	margin: 0 0 30px;
}
.header-name {
	margin: 1em 0;
}
.header-nav {
	list-style: none;
	padding: 0;
}
.header-nav li {
	background-color: white;
	padding: 10px 0;
	margin: 10px 0;
}
.header-nav a {
	width: 100%;
	color: rgb(0,51,102);
	display: block;
}

/**********INTRO**********************/
.intro-wrapper {
	padding: 0 20px 20px;
}
.profile-picture {
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 3px;
	background-color: white;
}
.intro-text {
	margin: 20px;
	color: white;
}

/**********PORTFOLIO**********************/
.portfolio-wrapper {
	background-color: white;
	padding: 5px 0;
}
.portfolio-items {
	padding: 0 20px;
}
.portfolio-images {
	width: 100%;
}
#portfolio-link {
	margin: 40px 0;
	font-family: 'Oswald', sans-serif;
}
.portfolio-text {
	padding: 0 0 30px;
	margin: 0;
}
.portfolio-headers {
	font-family: 'Oswald', sans-serif;
	padding: 20px 0;
}

/**********Skills & Contact**********************/
.contact-wrapper,
.skills-wrapper {
	margin: 0 20px 40px;
	color: white;
}
#contact-link,
#skills-link {
	margin: 40px 0;
}
.contact-text {
	padding-bottom: 20px;
}
.skills-text {
	padding: 0;
}
.skills-text li {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.3em;
	display: inline-block;
	list-style: none;
	padding: 0 10px 10px;
}

.my-phone span,
.my-email span {
	margin-left: 20px;
}

/**********Footers**********************/

footer {
	border-top: 2px solid white;
	margin: 20px;
	padding-top: 20px;
	font-size: .7em;
	color: white;
}
.footer-nav {
	display: none;
}

/**********Clearfix**********************/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**********Media Queries**********************/

@media (min-width: 768px) {
	.header-name {
		font-size: 1.5em;
	}
	.header-nav {
		display: inline-block;
		margin: 0 auto;
	}
	.header-nav li {
		background-color: rgb(0,51,102);
		float: left;
		margin: 0 10px;
		padding: 0;
	}
	.header-nav a {
		padding: 20px;
		color: white;
	}
	.intro-text {
		text-align: left;
		float: left;
		width: 60%;
		margin: 0;
		padding-right: 20px;
	}
	.intro-text p {
		margin: 0;
	}
	.profile-picture {
		float: right;
		width: 40%;
		margin: 0;
	}
	.intro-wrapper {
		padding-bottom: 50px;
	}
	.portfolio-items {
		float: left;
		width: 50%;
	}
	.image-7 {
		float: none;
		margin: 0 auto;
	}
	.contact-text,
	.skills-text {
		max-width: 600px;
		margin: auto;
	}
	.to-top{
		display: none;
	}
	.footer-nav li {
		padding-top: 0;
		font-size: 1.3em;
	}
	.footer-name {
		margin: 20px;
	}
	footer {
		padding-top: 10px;
	}

}
@media (min-width: 1024px) {

	.portfolio-items {
		width: 33.33%;
	}


}